# Dipendenze e Log
node_modules/
*.log
.DS_Store
dist/

# File di configurazione locale (opzionali da ignorare)
.continue/
.vscode/
localscripts/
docs/
copilot-instructions.md
agents/
# COMPENDI
/packs/
AGENTS.md

