<form class="{{cssClass}}" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <div class="header-fields">
      <h1 class="charname margin-right"><input name="name" type="text" value="{{name}}" placeholder="Name" /></h1>
      <div class="flexrow">
        <img class="profile-img" src="{{img}}" data-edit="img" title="{{name}}" />
        <div class="flexcol">

          <div class="flexrow">
            <div class="ability-item">
              <ul>
                {{#each system.statistics as |stat key|}}
                {{> systems/fvtt-warhero/templates/actors/partial-actor-stat-block.html stat=stat key=key path="statistics" fieldClass="item-field-label-medium"}}
                {{/each}}
              </ul>
            </div>

            <div class="ability-item">
              <ul>
                <li class="item flexrow list-item " data-item-id="{{race._id}}">
                  <label class="item-field-label-medium">{{localize "WH.ui.race"}}</label>
                  {{#if race}}
                  <a class="item-edit"><img class="sheet-competence-img" src="{{race.img}}"></a>
                  <input type="text" class="item-field-label-medium" disabled value="{{race.name}}" data-dtype="String" />
                  <div class="item-controls item-controls-fixed">
                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                  </div>
                  {{else}}
                    <a class="item-edit"><img class="sheet-competence-img" src="systems/fvtt-warhero/images/icons/dwarf-face.svg"></a>
                  {{/if}}
                </li>
                <li class="item flexrow list-item " data-item-id="{{mainClass._id}}">
                  <label class="item-field-label-medium">{{localize "WH.ui.class"}}</label>
                  {{#if mainClass}}
                  <a class="item-edit"><img class="sheet-competence-img" src="{{mainClass.img}}"></a>
                  <input type="text" class="item-field-label-medium" disabled value="{{mainClass.name}}" data-dtype="String" />
                  <div class="item-controls item-controls-fixed">
                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                  </div>
                  {{else}}
                    <a class="item-edit"><img class="sheet-competence-img" src="systems/fvtt-warhero/images/icons/elf-helmet.svg"></a>
                  {{/if}}
                </li>
                <li class="item flexrow list-item " data-item-id="{{secondaryClass._id}}">
                  <label class="item-field-label-medium">{{localize "WH.ui.secondaryclass"}}</label>
                  {{#if secondaryClass}}
                  <a class="item-edit"><img class="sheet-competence-img" src="{{secondaryClass.img}}"></a>
                  <input type="text" class="item-field-label-medium" disabled value="{{secondaryClass.name}}" data-dtype="String" />
                  <div class="item-controls item-controls-fixed">
                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                  </div>
                  {{else}}
                    <a class="item-edit"><img class="sheet-competence-img" src="systems/fvtt-warhero/images/icons/elf-helmet.svg"></a>
                  {{/if}}
                </li>
                <li class="item flexrow list-item" >
                  <label class="item-field-label-medium">{{localize "WH.ui.religion"}}</label>
                  <input type="text" class="item-field-label-medium" name="system.biodata.religion" value="{{system.biodata.religion}}" data-dtype="String" />
                  &nbsp;&nbsp;
                  <label class="item-field-label-short">{{localize "WH.ui.size"}}</label>
                  <select class="item-field-label-short" type="text" name="system.biodata.size" value="{{system.biodata.size}}" data-dtype="String">
                    {{selectOptions config.sizeOptions selected=system.biodata.size localize=true}}
                  </select>
                </li>
              </ul>
            </div>
          </div>

          <div class="flexrow">
              {{#each system.attributes as |attr key|}}
                {{#if attr.isheader}}
                  <div class="flexrow">
                  {{> systems/fvtt-warhero/templates/partial-actor-stat-block.html stat=attr key=key path="attributes" fieldClass="item-field-label-medium"}}
                  </div>
                {{/if}}
              {{/each}}
            </ul>
          </div>

          </div>

        </div>
      </div>

    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="main">{{localize "WH.ui.main"}}</a>
    <a class="item" data-tab="combat">{{localize "WH.ui.combat"}}</a>
    <a class="item" data-tab="skill">{{localize "WH.ui.skillstab"}}</a>
    <a class="item" data-tab="power">{{localize "WH.ui.powers"}}</a>
    <a class="item" data-tab="equipment">{{localize "WH.ui.equipment"}}</a>
    <a class="item" data-tab="biodata">{{localize "WH.ui.biography"}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Main Tab --}}
    <div class="tab main" data-group="primary" data-tab="main">

      <div class="flexrow">

        <div class="ability-item">
          <ul>
            {{#each system.attributes as |attr key|}}
            {{#if (not attr.iscombat)}}
              {{#if (not attr.isheader)}}
                {{> systems/fvtt-warhero/templates/partial-actor-stat-block.html stat=attr key=key path="attributes" fieldClass="item-field-label-vlong"}}
              {{/if}}
            {{/if}}
            {{/each}}
          </ul>

        </div>

        <div class="ability-item">
          <ul>
            <li class="item flexrow list-item item-stat-roll" data-attr-key="{{key}}">
              <span class="item-field-label-vlong" name="{{key}}">
                <h4 class="item-field-label-vlong">
                  {{localize "WH.ui.xphp"}}
                </h4>
              </span>
              <span class="item-field-label-long" >{{hpprogression}}</span>
            </li>


            {{#each system.secondary as |second key|}}
              {{#if (not second.iscombat)}}
                {{> systems/fvtt-warhero/templates/partial-actor-stat-block.html stat=second key=key path="secondary" fieldClass="item-field-label-vlong"}}
              {{/if}}
            {{/each}}

          </ul>

          <div>
            <ul class="stat-list alternate-list">
              <li class="item flexrow list-item items-title-bg">
                <span class="item-name-label-header-long">
                  <h3><label class="items-title-text">{{localize "WH.ui.languages"}}</label></h3>
                </span>
              </li>
              {{#each languages as |language key|}}
              <li class="item flexrow list-item list-item-shadow" data-item-id="{{language._id}}">
                <a class="item-edit item-name-img" title="Edit Item"><img class="sheet-competence-img"
                    src="{{language.img}}" /></a>
                <span class="item-name-label-long">{{language.name}}</span>

                <div class="item-filler">&nbsp;</div>
                <div class="item-controls item-controls-fixed">
                  <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                </div>
              </li>
              {{/each}}
            </ul>
          </div>

        </div>

      </div>

    </div>

    {{!-- Combat Tab --}}
    <div class="tab combat" data-group="primary" data-tab="combat">

      <div class="flexcol">

        <div class="grid grid2col">
          <ul class="stat-list alternate-list">
            {{#with system.attributes.def as |stat|}}
            {{> systems/fvtt-warhero/templates/partial-actor-stat-block.html stat=stat key="def" path="attributes" fieldClass="item-field-label-vlong"}}
            {{/with}}
            {{#with system.attributes.ini as |stat|}}
            {{> systems/fvtt-warhero/templates/partial-actor-stat-block.html stat=stat key="ini" path="attributes" fieldClass="item-field-label-vlong"}}
            {{/with}}
            {{#with system.secondary.meleedamagebonus as |stat|}}
            {{> systems/fvtt-warhero/templates/partial-actor-stat-block.html stat=stat key="meleedamagebonus" path="secondary" fieldClass="item-field-label-vlong"}}
            {{/with}}
            {{#with system.secondary.malusmultiweapon as |stat|}}
            {{> systems/fvtt-warhero/templates/partial-actor-stat-block.html stat=stat key="malusmultiweapon" path="secondary" fieldClass="item-field-label-vlong"}}
            {{/with}}
          </ul>
          <ul class="stat-list alternate-list">
            {{#with system.attributes.txcm as |stat|}}
            {{> systems/fvtt-warhero/templates/partial-actor-stat-block.html stat=stat key="txcm" path="attributes" fieldClass="item-field-label-vlong"}}
            {{/with}}
            {{#with system.attributes.txcr as |stat|}}
            {{> systems/fvtt-warhero/templates/partial-actor-stat-block.html stat=stat key="txcr" path="attributes" fieldClass="item-field-label-vlong"}}
            {{/with}}
            {{#with system.secondary.rangeddamagebonus as |stat|}}
            {{> systems/fvtt-warhero/templates/partial-actor-stat-block.html stat=stat key="rangeddamagebonus" path="secondary" fieldClass="item-field-label-vlong"}}
            {{/with}}
          </ul>
        </div>

        <div>
          <ul class="stat-list alternate-list">
            <li class="item flexrow list-item items-title-bg">
              <span class="item-name-label-header-long">
                <h3><label class="items-title-text">{{localize "WH.ui.weapons"}}</label></h3>
              </span>
              <span class="item-field-label-medium">
                <label class="short-label">{{localize "WH.ui.Type"}}</label>
              </span>
              <span class="item-field-label-medium">
                <label class="short-label">{{localize "WH.ui.Damage"}}</label>
              </span>
            </li>
            {{#each equippedWeapons as |weapon key|}}
            <li class="item flexrow list-item list-item-shadow" data-item-id="{{weapon._id}}">
              <a class="item-edit item-name-img" title="Edit Item"><img class="sheet-competence-img"
                  src="{{weapon.img}}" /></a>
              <span class="item-name-label-long"><a class="roll-weapon"><i class="fa-solid fa-dice-d20"></i>{{weapon.name}}</a></span>

              <span class="item-field-label-medium">{{localize (concat "WH.conf." weapon.system.weapontype)}}</span>

              {{#if (eq system.weapontype "special")}}
              <span class="item-field-label-medium"><a class="roll-damage"><i class="fa-solid fa-dice-d20"></i>{{weapon.system.damageformula}}</a></span>
              {{else}}
              <span class="item-field-label-medium"><a class="roll-damage"><i class="fa-solid fa-dice-d20"></i>{{weapon.damageFormula}}</a></span>
              {{/if}}

              {{#if (eq system.weapontype "polearm")}}
              <span class="item-field-label-medium"><a class="roll-damage-2hands"><i class="fa-solid fa-dice-d20"></i>{{weapon.damageFormula2Hands}}</a></span>
              {{/if}}

              <div class="item-filler">&nbsp;</div>
              <div class="item-controls item-controls-fixed">
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
              </div>
            </li>
            {{/each}}
          </ul>
        </div>

        <div class="grid grid2col">
          <ul class="stat-list alternate-list">
            {{#with system.secondary.parrybonus as |stat|}}
            {{> systems/fvtt-warhero/templates/partial-actor-stat-block.html stat=stat key="parrybonus" path="secondary" fieldClass="item-field-label-vlong"}}
            {{/with}}
          </ul>
          <ul class="stat-list alternate-list">
            {{#with system.secondary.parrybonustotal as |stat|}}
            {{> systems/fvtt-warhero/templates/partial-actor-stat-block.html stat=stat key="parrybonustotal" path="secondary" fieldClass="item-field-label-vlong"}}
            {{/with}}
          </ul>
        </div>

        <div>
          <ul class="stat-list alternate-list">
            <li class="item flexrow list-item items-title-bg">
              <span class="item-name-label-header-long">
                <h3><label class="items-title-text">{{localize "WH.ui.shields"}}</label></h3>
              </span>
              <span class="item-field-label-short">
                <label class="short-label">{{localize "WH.ui.Type"}}</label>
              </span>
              <span class="item-field-label-medium">
                <label class="short-label">{{localize "WH.ui.parrybonus"}}</label>
              </span>
            </li>
            {{#each equippedShields as |shield key|}}
            <li class="item flexrow list-item list-item-shadow" data-item-id="{{shield._id}}">
              <a class="item-edit item-name-img" title="Edit Item"><img class="sheet-competence-img"
                  src="{{shield.img}}" /></a>
              <span class="item-name-label-long">{{shield.name}}</span>

              <span class="item-field-label-short">{{shield.system.shieldtype}}</span>

              <span class="item-field-label-medium">{{shield.system.parrybonus}}</span>

              <div class="item-filler">&nbsp;</div>
              <div class="item-controls item-controls-fixed">
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
              </div>
            </li>
            {{/each}}
          </ul>
        </div>

        <div class="grid grid2col">
          <ul class="stat-list alternate-list">
            {{#with system.secondary.drbonus as |stat|}}
            {{> systems/fvtt-warhero/templates/partial-actor-stat-block.html stat=stat key="drbonus" path="secondary" fieldClass="item-field-label-vlong"}}
            {{/with}}
          </ul>
          <ul class="stat-list alternate-list">
            {{#with system.secondary.drbonustotal as |stat|}}
            {{> systems/fvtt-warhero/templates/partial-actor-stat-block.html stat=stat key="drbonustotal" path="secondary" fieldClass="item-field-label-vlong"}}
            {{/with}}
          </ul>
        </div>

        <div>
          <ul class="stat-list alternate-list">
            <li class="item flexrow list-item items-title-bg">
              <span class="item-name-label-header-long">
                <h3><label class="items-title-text">{{localize "WH.ui.armors"}}</label></h3>
              </span>
              <span class="item-field-label-short">
                <label class="short-label">{{localize "WH.ui.Type"}}</label>
              </span>
              <span class="item-field-label-medium">
                <label class="short-label">{{localize "WH.ui.damagereduction"}}</label>
              </span>
            </li>
            {{#each equippedArmors as |armor key|}}
            <li class="item flexrow list-item list-item-shadow" data-item-id="{{armor._id}}">
              <a class="item-edit item-name-img" title="Edit Item"><img class="sheet-competence-img"
                  src="{{armor.img}}" /></a>
              <span class="item-name-label-long">{{armor.name}}</span>

              <span class="item-field-label-short">{{armor.system.armortype}}</span>

              <span class="item-field-label-medium">{{armor.system.damagereduction}}</span>

              <div class="item-filler">&nbsp;</div>
              <div class="item-controls item-controls-fixed">
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
              </div>
            </li>
            {{/each}}
          </ul>
        </div>

        <div>
          <ul class="stat-list alternate-list">
            <li class="item flexrow list-item items-title-bg">
              <span class="item-name-label-header-long">
                <h3><label class="items-title-text">{{localize "WH.ui.competency"}}</label></h3>
              </span>
            </li>
            {{#each competency.weapons as |cdata key|}}
              {{#if cdata}}
                <li class="item flexrow list-item list-item-shadow" data-item-id="{{language._id}}">
                  <span class="item-name-label-long">{{localize "WH.ui.weapons"}} {{localize cdata.label}}</span>
                  </li>
              {{/if}}
            {{/each}}
            {{#each competency.shields as |cdata key|}}
              {{#if cdata}}
                <li class="item flexrow list-item list-item-shadow" data-item-id="{{language._id}}">
                  <span class="item-name-label-long">{{localize "WH.ui.shields"}} {{localize cdata.label}}</span>
                  </li>
                {{/if}}
              {{/each}}
            {{#each competency.armors as |cdata key|}}
              {{#if cdata}}
                <li class="item flexrow list-item list-item-shadow" data-item-id="{{language._id}}">
                  <span class="item-name-label-long">{{localize "WH.ui.armors"}} {{localize cdata.label}}</span>
                  </li>
              {{/if}}
            {{/each}}

            {{#each compentencyItems as |comp key|}}
            <li class="item flexrow list-item list-item-shadow" data-item-id="{{comp._id}}">
              <a class="item-edit item-name-img" title="Edit Item"><img class="sheet-competence-img"
                  src="{{comp.img}}" /></a>
              <span class="item-name-label-long">{{comp.name}}</span>

              <div class="item-filler">&nbsp;</div>
              <div class="item-controls item-controls-fixed">
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
              </div>
            </li>
            {{/each}}

          </ul>
        </div>

      </div>
    </div>

    {{!-- Skills Tab --}}
    <div class="tab skill" data-group="primary" data-tab="skill">
      <div class="flexcol">

        <div>
          <ul class="stat-list alternate-list">
            <li class="item flexrow list-item items-title-bg">
              <span class="item-name-label-header-long">
                <h3><label class="items-title-text">{{localize "WH.ui.raceSkills"}}</label></h3>
              </span>
              <span class="item-field-label-medium">
                <label class="short-label">{{localize "WH.ui.currentuse"}}</label>
              </span>
              <span class="item-field-label-medium">
                <label class="short-label">{{localize "WH.ui.maxuse"}}</label>
              </span>
            </li>
            {{#each raceSkills as |skill key|}}
            <li class="item flexrow list-item list-item-shadow" data-item-id="{{skill._id}}">
              <a class="item-edit item-name-img" title="Edit Item"><img class="sheet-competence-img"
                  src="{{skill.img}}" /></a>
              <span class="item-name-label-long">{{skill.name}}</a></span>

              {{#if skill.system.unlimited}}
              <span class="item-field-label-medium">N/A</span>
              <span class="item-field-label-medium">N/A</span>
              {{else}}
              <span class="item-field-label-medium">{{skill.system.currentuse}}
                (<a class="skill-use-minus plus-minus-button">&nbsp;-</a>/<a class="skill-use-plus plus-minus-button">+</a>)
              </span>
              <span class="item-field-label-medium">{{skill.system.maxuse}}</span>
              {{/if}}

              <div class="item-filler">&nbsp;</div>
              <div class="item-controls item-controls-fixed">
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
              </div>
            </li>
            {{/each}}
          </ul>
        </div>

        <div>
          <ul class="stat-list alternate-list">
            <li class="item flexrow list-item items-title-bg">
              <span class="item-name-label-header-long">
                <h3><label class="items-title-text">{{localize "WH.ui.classSkills"}}</label></h3>
              </span>
              <span class="item-field-label-medium">
                <label class="short-label">{{localize "WH.ui.currentuse"}}</label>
              </span>
              <span class="item-field-label-medium">
                <label class="short-label">{{localize "WH.ui.maxuse"}}</label>
              </span>
            </li>
            {{#each classSkills as |skill key|}}
            <li class="item flexrow list-item list-item-shadow" data-item-id="{{skill._id}}">
              <a class="item-edit item-name-img" title="Edit Item"><img class="sheet-competence-img"
                  src="{{skill.img}}" /></a>
              <span class="item-name-label-long">{{skill.name}}</a></span>

              {{#if skill.system.unlimited}}
              <span class="item-field-label-medium">N/A</span>
              <span class="item-field-label-medium">N/A</span>
              {{else}}
              <span class="item-field-label-medium">{{skill.system.currentuse}}
                (<a class="skill-use-minus plus-minus-button">&nbsp;-</a>/<a class="skill-use-plus plus-minus-button">+</a>)
              </span>
              <span class="item-field-label-medium">{{skill.system.maxuse}}</span>
              {{/if}}

              <div class="item-filler">&nbsp;</div>
              <div class="item-controls item-controls-fixed">
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
              </div>
            </li>
            {{/each}}
          </ul>
        </div>

        <div>
          <ul class="stat-list alternate-list">
            <li class="item flexrow list-item items-title-bg">
              <span class="item-name-label-header-long">
                <h3><label class="items-title-text">{{localize "WH.ui.skills"}}</label></h3>
              </span>
              <span class="item-field-label-medium">
                <label class="short-label">{{localize "WH.ui.currentuse"}}</label>
              </span>
              <span class="item-field-label-medium">
                <label class="short-label">{{localize "WH.ui.maxuse"}}</label>
              </span>
            </li>
            {{#each skills as |skill key|}}
            <li class="item flexrow list-item list-item-shadow" data-item-id="{{skill._id}}">
              <a class="item-edit item-name-img" title="Edit Item"><img class="sheet-competence-img"
                  src="{{skill.img}}" /></a>
              <span class="item-name-label-long">{{skill.name}}</span>

              {{#if skill.system.unlimited}}
              <span class="item-field-label-medium">N/A</span>
              <span class="item-field-label-medium">N/A</span>
              {{else}}
              <span class="item-field-label-medium">{{skill.system.currentuse}}</span>
              <span class="item-field-label-medium">{{skill.system.maxuse}}</span>
              {{/if}}

              <div class="item-filler">&nbsp;</div>
              <div class="item-controls item-controls-fixed">
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
              </div>
            </li>
            {{/each}}
          </ul>
        </div>

        <div>
          <ul class="stat-list alternate-list">
            <li class="item flexrow list-item items-title-bg">
              <span class="item-name-label-header-long">
                <h3><label class="items-title-text">{{localize "WH.ui.conditions"}}</label></h3>
              </span>
              <span class="item-field-label-medium">
                <label class="short-label">{{localize "WH.ui.effect"}}</label>
              </span>
            </li>
            {{#each conditions as |cond key|}}
            <li class="item flexrow list-item list-item-shadow" data-item-id="{{cond._id}}">
              <a class="item-edit item-name-img" title="Edit Item"><img class="sheet-competence-img"
                  src="{{cond.img}}" /></a>
              <span class="item-name-label-long">{{cond.name}}</span>

              <span class="item-field-label-medium">{{cond.system.shortdescription}}</span>

              <div class="item-filler">&nbsp;</div>
              <div class="item-controls item-controls-fixed">
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
              </div>
            </li>
            {{/each}}
          </ul>
        </div>


      </div>
    </div>


    {{!-- Powers Tab --}}
    <div class="tab power" data-group="primary" data-tab="power">

      <div class="flexcol">

        {{#each powers as |school schoolKey|}}
        <ul class="stat-list alternate-list">
          <li class="item flexrow list-item items-title-bg">
            <span class="item-name-label-header">
              <h3><label class="items-title-text">{{schoolKey}}</label></h3>
            </span>
          </li>

            {{#each school as |power key|}}
            <li class="item stat flexrow list-item list-item-shadow" data-item-id="{{power._id}}">
              <a class="item-edit item-name-img" title="Edit Item"><img class="sheet-competence-img"
                  src="{{power.img}}" /></a>
              <span class="item-name-label-long3">
                <a class="power-roll"><i class="fa-solid fa-dice-d20"></i>{{power.name}}</a>
              </span>
              <span class="item-name-label-medium">
                <a class="power-roll">{{power.system.level}}</a>
              </span>
              <div class="item-filler">&nbsp;</div>
              <div class="item-controls item-controls-fixed">
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
              </div>
            </li>
            {{/each}}

        </ul>
        {{/each}}

      </div>
    </div>

    {{!-- Equipment Tab --}}
    <div class="tab equipment" data-group="primary" data-tab="equipment">

      <div class="flexrow">
        <label class="">{{localize "WH.ui.totalmoney"}} : {{totalMoney}}</label>
      </div>

      <hr>
      <h3>{{localize "WH.ui.bodyslots"}} : </h3>

      {{#each bodyContainers as |slot slotKey|}}
        {{> systems/fvtt-warhero/templates/partial-container.html slot=slot slotKey=slotKey}}
      {{/each}}

      <hr>
      <h3>{{localize "WH.ui.containerslot"}} : </h3>

      {{#each equipmentContainers as |slot slotKey|}}
        {{> systems/fvtt-warhero/templates/partial-container.html slot=slot slotKey=slotKey}}
      {{/each}}

      <hr>

    </div>

    {{!-- Biography Tab --}}
    <div class="tab biodata" data-group="primary" data-tab="biodata">
      <div class="grid grid-2col">
        <div>
          <ul class="item-list alternate-list">
            <li class="item flexrow">
              <label class="generic-label">{{localize "WH.ui.origin"}}</label>
              <input type="text" class="" name="system.biodata.origin" value="{{system.biodata.origin}}"
                data-dtype="String" />
            </li>
            <li class="item flexrow">
              <label class="generic-label">{{localize "WH.ui.age"}}</label>
              <input type="text" class="" name="system.biodata.age" value="{{system.biodata.age}}" data-dtype="String" />
            </li>
            <li class="item flexrow">
              <label class="generic-label">{{localize "WH.ui.height"}}</label>
              <input type="text" class="" name="system.biodata.height" value="{{system.biodata.height}}" data-dtype="String" />
            </li>
            <li class="flexrow item">
              <label class="generic-label">{{localize "WH.ui.preferredhand"}}</label>
              <input type="text" class="" name="system.biodata.preferredhand" value="{{system.biodata.preferredhand}}"
                data-dtype="String" />
            </li>
          </ul>
        </div>
       <div>
          <ul>
            <li class="flexrow item">
              <label class="generic-label">{{localize "WH.ui.gender"}}</label>
              <input type="text" class="" name="system.biodata.sex" value="{{system.biodata.sex}}" data-dtype="String" />
            </li>
            <li class="item flexrow">
              <label class="generic-label">{{localize "WH.ui.eyes"}}</label>
              <input type="text" class="" name="system.biodata.eyes" value="{{system.biodata.eyes}}" data-dtype="String" />
            </li>
            <li class="item flexrow">
              <label class="generic-label">{{localize "WH.ui.hair"}}</label>
              <input type="text" class="" name="system.biodata.hair" value="{{system.biodata.hair}}" data-dtype="String" />
            </li>
          </ul>
        </div>
      </div>


      <hr>
      <h3>{{localize "WH.ui.background"}} : </h3>
      <div class="form-group editor">
        {{editor description target="system.biodata.description" button=true owner=owner
        editable=editable}}
      </div>
      <hr>
      <h3>{{localize "WH.ui.notes"}} : </h3>
      <div class="form-group editor">
        {{editor notes target="system.biodata.notes" button=true owner=owner editable=editable}}
      </div>
      <hr>
      </article>

      {{#if isGM}}
      <div>
        <ul class="stat-list alternate-list">
          <li class="item flexrow list-item items-title-bg">
            <span class="item-name-label-header-long">
              <h3><label class="items-title-text">{{localize "WH.ui.allitems"}}</label></h3>
            </span>
            <span class="item-field-label-medium">
              <label class="short-label">{{localize "WH.ui.type"}}</label>
            </span>
          </li>
          {{#each allItems as |item key|}}
          <li class="item flexrow list-item list-item-shadow" data-item-id="{{item._id}}">
            <a class="item-edit item-name-img" title="Edit Item"><img class="sheet-competence-img"
                src="{{item.img}}" /></a>
            <span class="item-name-label-long">{{item.name}}</span>

            <span class="item-field-label-medium">{{upperFirst item.type}}</span>

            <div class="item-filler">&nbsp;</div>
            <div class="item-controls item-controls-fixed">
              <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>
          </li>
          {{/each}}
        </ul>
      </div>
      {{/if}}
    </div>

  </section>
</form>