<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="item-sheet-img" src="{{img}}" data-edit="img" title="{{name}}" />
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{name}}" placeholder="Name" /></h1>
    </div>
  </header>
  {{> systems/fvtt-warhero/templates/partial-item-nav.html}}

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    <div class="tab details" data-group="primary" data-tab="description">

      <label class="generic-label">{{localize "WH.ui.description"}}</label>
      <div class="editor item-text-long-line">
        {{editor description target="system.description" button=true owner=owner editable=editable}}
      </div>
    </div>

    <div class="tab details" data-group="primary" data-tab="details">
      <ul>

        <li class="flexrow"><label class="item-field-label-long ">{{localize "WH.ui.isclasssecondary"}}</label>
          <input type="checkbox" name="system.issecondary" {{checked system.issecondary}}/>
        </li>

        {{#each system.weapons as |weaponflag key|}}
          <li class="flexrow"><label class="item-field-label-long ">{{localize "WH.ui.weapons"}} {{localize (concat "WH.conf." key)}}</label>
            <input type="checkbox" class="padd-right status-small-label color-class-common item-field-label-short"
                  name="system.weapons.{{key}}" {{checked weaponflag}}/>

          </li>
        {{/each}}

        {{#each system.armors as |armorflag key|}}
          <li class="flexrow"><label class="item-field-label-long ">{{localize "WH.ui.armors"}} {{localize (concat "WH.conf." key "armor")}}</label>
            <input type="checkbox" class="padd-right status-small-label color-class-common item-field-label-short"
                  name="system.armors.{{key}}" {{checked armorflag}}/>

          </li>
        {{/each}}

        {{#each system.shields as |shieldflag key|}}
        <li class="flexrow"><label class="item-field-label-long ">{{localize "WH.ui.shields"}} {{localize (concat "WH.conf." key "shield")}}</label>
          <input type="checkbox" class="padd-right status-small-label color-class-common item-field-label-short"
                name="system.shields.{{key}}" {{checked shieldflag}}/>

        </li>
      {{/each}}


      </ul>

    </div>

  </section>
</form>