<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
      <img class="item-sheet-img" src="{{img}}" data-edit="img" title="{{name}}"/>
      <div class="header-fields">
          <h1 class="charname"><input name="name" type="text" value="{{name}}" placeholder="Name"/></h1>
      </div>
  </header>
  
  {{> systems/fvtt-warhero/templates/partial-item-nav.html}}


  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{> systems/fvtt-warhero/templates/partial-item-description.html}}
    
    <div class="tab details" data-group="primary" data-tab="details">

      <div class="tab" data-group="primary">
        <ul>
          <li class="flexrow"><label class="item-field-label-long ">{{localize "WH.ui.type"}}</label>
            <select class="item-field-label-medium " type="text" name="system.weapontype" value="{{system.weapontype}}" data-dtype="String">
              {{selectOptions config.weaponTypes selected=system.weapontype localize=true labelAttr="label"}}
            </select> 
          </li>
          
          {{#if (eq system.weapontype "special")}}
          <li class="flexrow"><label class="item-field-label-vlong2 ">{{localize "WH.ui.rawroll"}}</label>
            <input type="text" class="item-field-label-long " name="system.rollformula" value="{{system.rollformula}}" data-dtype="String"/>
          </li>          
          <li class="flexrow"><label class="item-field-label-vlong2 ">{{localize "WH.ui.rawdamage"}}</label>
            <input type="text" class="item-field-label-long " name="system.damageformula" value="{{system.damageformula}}" data-dtype="String"/>
          </li>          
          {{else}}          
          <li class="flexrow"><label class="item-field-label-long ">{{localize "WH.ui.damage"}}</label>
            <input type="text" class="item-field-label-medium " name="system.damage" value="{{system.damage}}" data-dtype="String"/>
          </li>
          {{/if}}
          
          {{#if (eq system.weapontype "polearm")}}
          <li class="flexrow"><label class="item-field-label-long ">{{localize "WH.ui.2hdamage"}}</label>
            <input type="text" class="item-field-label-medium " name="system.damage2hands" value="{{system.damage2hands}}" data-dtype="String"/>
          </li>
          {{/if}}

          {{> systems/fvtt-warhero/templates/partial-item-common-equipment.html}}

        </ul>
    </div>
  </div>

  </section>
</form>
