<section class="fvtt-warhero sheet-header sheet-header-actor">

  <div class="header-fields">
    <h1 class="charname margin-right"><input
        name="name"
        type="text"
        value="{{name}}"
        placeholder="Name"
      /></h1>
    <div class="flexrow">
      <img class="profile-img" src="{{img}}" data-edit="img" title="{{name}}" />
      <div class="flexcol">
      </div>
    </div>
  </div>

</section>