<div class="warhero-chat-card">
  <div class="warhero-chat-message-header">
    <h4 class="chat-actor-name">{{localize "WH.ui.defense"}}</h4>
  </div>

  <div class="warhero-chat-message-body">
    <ul>
      {{#if defender}}
      <li><strong>{{localize "WH.ui.defender"}}:</strong> {{defender.name}}</li>
      {{/if}}
      {{#if weapon}}
      <li><strong>{{localize "WH.ui.weapon"}}:</strong> {{weapon.name}}</li>
      {{/if}}
      {{#if isRangedAttack}}
      <li>{{localize "WH.ui.rangedattack"}}</li>
      {{/if}}
    </ul>
  </div>
</div>
