<form class="{{cssClass}}" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <div class="header-fields">
      <h1 class="charname margin-right"><input name="name" type="text" value="{{name}}" placeholder="Name" /></h1>
      <div class="flexrow">
        <img class="profile-img" src="{{img}}" data-edit="img" title="{{name}}" />
        <div class="flexcol">

          <div class="flexrow">
            <div class="ability-item">
              <ul>
                {{#each system.statistics as |stat key|}}
                {{> systems/fvtt-warhero/templates/partial-actor-stat-block.html stat=stat key=key path="statistics" fieldClass="item-field-label-medium"}}
                {{/each}}
              </ul>            
            </div>

            <div class="ability-item">
              <ul>
                <li class="item flexrow list-item " data-item-id="{{race._id}}">
                  <label class="item-field-label-medium">Race</label>
                  <a class="item-edit"><img class="sheet-competence-img" src="{{race.img}}"></a>
                  <input type="text" class="item-field-label-medium" disabled value="{{race.name}}" data-dtype="String" />
                  <div class="item-controls item-controls-fixed">
                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                  </div>  
                </li>  
                <li class="item flexrow list-item" data-item-id="{{class._id}}">
                  <label class="item-field-label-medium">Class</label>
                  <a class="item-edit"><img class="sheet-competence-img" src="{{class.img}}"></a>
                  <input type="text" class="item-field-label-medium" disabled value="{{class.name}}" data-dtype="String" />
                  <div class="item-controls item-controls-fixed">
                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                  </div>  
                </li>  
                <li class="item flexrow list-item" >
                  <label class="item-field-label-medium">Religion</label>
                  <input type="text" class="item-field-label-medium" name="system.biodata.religion" value="{{system.biodata.religion}}" data-dtype="String" />
                </li>  
              </ul>
            </div>      
          </div>

          <div class="flexrow">
              {{#each system.attributes as |attr key|}}              
                {{#if attr.isheader}}
                  <div class="flexrow">
                  {{> systems/fvtt-warhero/templates/partial-actor-stat-block.html stat=attr key=key path="attributes" fieldClass="item-field-label-medium"}}
                  </div>
                {{/if}}
              {{/each}}    
            </ul>
          </div>

          </div>
          
        </div>
      </div>

    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="main">Main</a>
    <a class="item" data-tab="combat">Combat</a>
    <a class="item" data-tab="skill">Skills&Effects</a>
    <a class="item" data-tab="power">Powers</a>
    <a class="item" data-tab="equipment">Equipment</a>
    <a class="item" data-tab="biodata">Biography</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Skills Tab --}}
    <div class="tab main" data-group="primary" data-tab="main">
      
      <div class="flexrow">

        <div class="ability-item">
          <ul>
            {{#each system.attributes as |attr key|}}
              {{#if (not attr.isheader)}}
                {{> systems/fvtt-warhero/templates/partial-actor-stat-block.html stat=attr key=key path="attributes" fieldClass="item-field-label-vlong"}}
              {{/if}}
            {{/each}}
          </ul>

          <div>
            <ul class="stat-list alternate-list">
              <li class="item flexrow list-item items-title-bg">
                <span class="item-name-label-header-long">
                  <h3><label class="items-title-text">{{localize "WH.ui.competency"}}</label></h3>
                </span>
              </li>
              {{#each competency.weapons as |flag key|}}
                {{#if flag}}
                  <li class="item flexrow list-item list-item-shadow" data-item-id="{{language._id}}">
                    <span class="item-name-label-long">{{localize "WH.ui.weapons"}} {{key}}</span>
                    </li>
                {{/if}}
              {{/each}}
              {{#each competency.shields as |flag key|}}
                {{#if flag}}
                  <li class="item flexrow list-item list-item-shadow" data-item-id="{{language._id}}">
                    <span class="item-name-label-long">{{localize "WH.ui.shields"}} {{key}}</span>
                    </li>
                  {{/if}}
                {{/each}}
              {{#each competency.armors as |flag key|}}
                {{#if flag}}
                  <li class="item flexrow list-item list-item-shadow" data-item-id="{{language._id}}">
                    <span class="item-name-label-long">{{localize "WH.ui.armors"}} {{key}}</span>
                    </li>
                {{/if}}
              {{/each}}
            </ul>
          </div>
  
        </div>

        <div class="ability-item">
          <ul>
            <li class="item flexrow list-item item-stat-roll" data-attr-key="{{key}}">
              <span class="item-field-label-vlong" name="{{key}}">
                <h4 class="item-field-label-vlong">
                  {{localize "WH.ui.xphp"}}
                </h4>
              </span>
              <span class="item-field-label-long" >{{hpprogression}}</span>
            </li>


            {{#each system.secondary as |second key|}}
            {{> systems/fvtt-warhero/templates/partial-actor-stat-block.html stat=second key=key path="secondary" fieldClass="item-field-label-vlong"}}
            {{/each}}

          </ul>

          <div>
            <ul class="stat-list alternate-list">
              <li class="item flexrow list-item items-title-bg">
                <span class="item-name-label-header-long">
                  <h3><label class="items-title-text">{{localize "WH.ui.languages"}}</label></h3>
                </span>
              </li>
              {{#each languages as |language key|}}
              <li class="item flexrow list-item list-item-shadow" data-item-id="{{language._id}}">
                <a class="item-edit item-name-img" title="Edit Item"><img class="sheet-competence-img"
                    src="{{language.img}}" /></a>
                <span class="item-name-label-long">{{language.name}}</span>
  
                <div class="item-filler">&nbsp;</div>
                <div class="item-controls item-controls-fixed">
                  <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                </div>
              </li>
              {{/each}}
            </ul>
          </div>

        </div>

      </div>

    </div>

    {{!-- Combat Tab --}}
    <div class="tab combat" data-group="primary" data-tab="combat">
      <div class="flexcol">

        <div>
          <ul class="stat-list alternate-list">
            <li class="item flexrow list-item items-title-bg">
              <span class="item-name-label-header-long">
                <h3><label class="items-title-text">Weapons</label></h3>
              </span>
              <span class="item-field-label-medium">
                <label class="short-label">{{localize "WH.ui.Type"}}</label>
              </span>
              <span class="item-field-label-medium">
                <label class="short-label">{{localize "WH.ui.Damage"}}</label>
              </span>
            </li>
            {{#each weapons as |weapon key|}}
            <li class="item flexrow list-item list-item-shadow" data-item-id="{{weapon._id}}">
              <a class="item-edit item-name-img" title="Edit Item"><img class="sheet-competence-img"
                  src="{{weapon.img}}" /></a>
              <span class="item-name-label-long"><a class="roll-weapon"><i class="fa-solid fa-dice-d20"></i>{{weapon.name}}</a></span>

              <span class="item-field-label-medium">{{weapon.system.weapontype}}</span>

              <span class="item-field-label-medium"><a class="roll-damage"><i class="fa-solid fa-dice-d20"></i>{{weapon.damageFormula}}</a></span>

              <div class="item-filler">&nbsp;</div>
              <div class="item-controls item-controls-fixed">
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
              </div>
            </li>
            {{/each}}
          </ul>
        </div>

        <div>
          <ul class="stat-list alternate-list">
            <li class="item flexrow list-item items-title-bg">
              <span class="item-name-label-header-long">
                <h3><label class="items-title-text">Shields</label></h3>
              </span>
              <span class="item-field-label-short">
                <label class="short-label">{{localize "WH.ui.Type"}}</label>
              </span>
              <span class="item-field-label-medium">
                <label class="short-label">{{localize "WH.ui.parrybonus"}}</label>
              </span>
            </li>
            {{#each shields as |shield key|}}
            <li class="item flexrow list-item list-item-shadow" data-item-id="{{shield._id}}">
              <a class="item-edit item-name-img" title="Edit Item"><img class="sheet-competence-img"
                  src="{{shield.img}}" /></a>
              <span class="item-name-label-long">{{shield.name}}</span>

              <span class="item-field-label-short">{{shield.system.shieldtype}}</span>

              <span class="item-field-label-medium">{{shield.system.parrybonus}}</span>

              <div class="item-filler">&nbsp;</div>
              <div class="item-controls item-controls-fixed">
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
              </div>
            </li>
            {{/each}}
          </ul>
        </div>

        <div>
          <ul class="stat-list alternate-list">
            <li class="item flexrow list-item items-title-bg">
              <span class="item-name-label-header-long">
                <h3><label class="items-title-text">Armors</label></h3>
              </span>
              <span class="item-field-label-short">
                <label class="short-label">{{localize "WH.ui.Type"}}</label>
              </span>
              <span class="item-field-label-medium">
                <label class="short-label">{{localize "WH.ui.damagereduction"}}</label>
              </span>
            </li>
            {{#each armors as |armor key|}}
            <li class="item flexrow list-item list-item-shadow" data-item-id="{{armor._id}}">
              <a class="item-edit item-name-img" title="Edit Item"><img class="sheet-competence-img"
                  src="{{armor.img}}" /></a>
              <span class="item-name-label-long">{{armor.name}}</span>

              <span class="item-field-label-short">{{armor.system.armortype}}</span>

              <span class="item-field-label-medium">{{armor.system.damagereduction}}</span>

              <div class="item-filler">&nbsp;</div>
              <div class="item-controls item-controls-fixed">
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
              </div>
            </li>
            {{/each}}
          </ul>
        </div>

      </div>
    </div>

    {{!-- Skills Tab --}}
    <div class="tab skill" data-group="primary" data-tab="skill">
      <div class="flexcol">

        <div>
          <ul class="stat-list alternate-list">
            <li class="item flexrow list-item items-title-bg">
              <span class="item-name-label-header-long">
                <h3><label class="items-title-text">{{localize "WH.ui.classSkills"}}</label></h3>
              </span>
              <span class="item-field-label-medium">
                <label class="short-label">{{localize "WH.ui.currentuse"}}</label>
              </span>
              <span class="item-field-label-medium">
                <label class="short-label">{{localize "WH.ui.maxuse"}}</label>
              </span>
            </li>
            {{#each classSkills as |skill key|}}
            <li class="item flexrow list-item list-item-shadow" data-item-id="{{skill._id}}">
              <a class="item-edit item-name-img" title="Edit Item"><img class="sheet-competence-img"
                  src="{{skill.img}}" /></a>
              <span class="item-name-label-long">{{skill.name}}</a></span>
              
              {{#if skill.system.unlimited}}
              <span class="item-field-label-medium">N/A</span>
              <span class="item-field-label-medium">N/A</span>
              {{else}}
              <span class="item-field-label-medium">{{skill.system.currentuse}}</span>
              <span class="item-field-label-medium">{{skill.system.maxuse}}</span>
              {{/if}}

              <div class="item-filler">&nbsp;</div>
              <div class="item-controls item-controls-fixed">
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
              </div>
            </li>
            {{/each}}
          </ul>
        </div>

        <div>
          <ul class="stat-list alternate-list">
            <li class="item flexrow list-item items-title-bg">
              <span class="item-name-label-header-long">
                <h3><label class="items-title-text">{{localize "WH.ui.skills"}}</label></h3>
              </span>
              <span class="item-field-label-medium">
                <label class="short-label">{{localize "WH.ui.currentuse"}}</label>
              </span>
              <span class="item-field-label-medium">
                <label class="short-label">{{localize "WH.ui.maxuse"}}</label>
              </span>
            </li>
            {{#each skills as |skill key|}}
            <li class="item flexrow list-item list-item-shadow" data-item-id="{{skill._id}}">
              <a class="item-edit item-name-img" title="Edit Item"><img class="sheet-competence-img"
                  src="{{skill.img}}" /></a>
              <span class="item-name-label-long">{{skill.name}}</span>

              {{#if skill.system.unlimited}}
              <span class="item-field-label-medium">N/A</span>
              <span class="item-field-label-medium">N/A</span>
              {{else}}
              <span class="item-field-label-medium">{{skill.system.currentuse}}</span>
              <span class="item-field-label-medium">{{skill.system.maxuse}}</span>
              {{/if}}

              <div class="item-filler">&nbsp;</div>
              <div class="item-controls item-controls-fixed">
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
              </div>
            </li>
            {{/each}}
          </ul>
        </div>

        <div>
          <ul class="stat-list alternate-list">
            <li class="item flexrow list-item items-title-bg">
              <span class="item-name-label-header-long">
                <h3><label class="items-title-text">{{localize "WH.ui.conditions"}}</label></h3>
              </span>
              <span class="item-field-label-medium">
                <label class="short-label">{{localize "WH.ui.effect"}}</label>
              </span>
            </li>
            {{#each conditions as |cond key|}}
            <li class="item flexrow list-item list-item-shadow" data-item-id="{{cond._id}}">
              <a class="item-edit item-name-img" title="Edit Item"><img class="sheet-competence-img"
                  src="{{cond.img}}" /></a>
              <span class="item-name-label-long">{{cond.name}}</span>

              <span class="item-field-label-medium">{{cond.system.shortdescription}}</span>

              <div class="item-filler">&nbsp;</div>
              <div class="item-controls item-controls-fixed">
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
              </div>
            </li>
            {{/each}}
          </ul>
        </div>


      </div>
    </div>

    {{!-- Powers Tab --}}
    <div class="tab power" data-group="primary" data-tab="power">

      <div class="flexcol">
        
        {{#each powers as |school schoolKey|}}
        <ul class="stat-list alternate-list">
          <li class="item flexrow list-item items-title-bg">
            <span class="item-name-label-header">
              <h3><label class="items-title-text">{{schoolKey}}</label></h3>
            </span>
          </li>

            {{#each school as |power key|}}
            <li class="item stat flexrow list-item list-item-shadow" data-item-id="{{power._id}}">
              <a class="item-edit item-name-img" title="Edit Item"><img class="sheet-competence-img"
                  src="{{power.img}}" /></a>
              <span class="item-name-label">
                <a class="power-roll"><i class="fa-solid fa-dice-d20"></i>{{power.name}}</a>
              </span>
              <span class="item-name-label">
                <a class="power-roll">{{power.system.level}}</a>
              </span>
              <div class="item-filler">&nbsp;</div>
              <div class="item-controls item-controls-fixed">
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
              </div>  
            </li>
            {{/each}}

        </ul>
        {{/each}}

      </div>
    </div>

    {{!-- Equipement Tab --}}
    <div class="tab equipment" data-group="primary" data-tab="equipment">

      {{#each slotEquipments as |slot slotKey|}}
      <ul class="item-list alternate-list">
        <li class="item flexrow list-item items-title-bg {{#if (gt slot.slotUsed slot.nbslots)}}items-title-bg-red{{/if}}">
          <span class="item-name-label-header">
            <h3><label class="items-title-text">{{localize slot.label}}</label></h3>
          </span>          
          <span class="item-field-label-medium">
            <label class="short-label">{{localize "WH.ui.Type"}}</label>
          </span>
          <span class="item-field-label-long">
            <label class="short-label">{{localize "WH.ui.Qty"}}</label>
          </span>
          <span class="item-field-label-medium">
            <label class="short-label">{{localize "WH.ui.maxslots"}}: {{slot.nbslots}}</label>
          </span>
          <span class="item-field-label-medium">
            <label class="short-label">{{localize "WH.ui.slotsused"}}: {{slot.slotUsed}}</label>
          </span>
          <div class="item-filler">&nbsp;</div>
          <div class="item-controls item-controls-fixed">
            <a class="item-control item-add" data-type="{{itemtype}}" title="Create Item"><i class="fas fa-plus"></i></a>
          </div>
        </li>
        {{#each slot.content as |item itemKey|}}
        <li class="item flexrow list-item list-item-shadow" data-item-id="{{item._id}}">
          <a class="item-edit item-name-img" title="Edit Item"><img class="sheet-competence-img"
              src="{{item.img}}" /></a>
          <span class="item-name-label">{{item.name}}</span>

          <span class="item-field-label-medium">
            <label class="short-label">{{upperFirst item.type}}</label>
          </span>

          <span class="item-field-label-long"><label>
              {{item.system.quantity}}
              (<a class="quantity-minus plus-minus-button"> -</a>/<a class="quantity-plus plus-minus-button">+</a>)
            </label>
          </span>

          <div class="item-filler">&nbsp;</div>
          <div class="item-controls item-controls-fixed">
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
          </div>
        </li>
        {{/each}}
      </ul>
      {{/each}}


      <hr>

    </div>

    {{!-- Biography Tab --}}
    <div class="tab biodata" data-group="primary" data-tab="biodata">
      <div class="grid grid-2col">
        <div>
          <ul class="item-list alternate-list">
            <li class="item flexrow">
              <label class="generic-label">Origin</label>
              <input type="text" class="" name="system.biodata.origin" value="{{data.biodata.origin}}"
                data-dtype="String" />
            </li>
            <li class="item flexrow">
              <label class="generic-label">Age</label>
              <input type="text" class="" name="system.biodata.age" value="{{data.biodata.age}}" data-dtype="String" />
            </li>
            <li class="item flexrow">
              <label class="generic-label">Height</label>
              <input type="text" class="" name="system.biodata.height" value="{{data.biodata.height}}" data-dtype="String" />
            </li>
            <li class="item flexrow">
              <label class="generic-label">Eyes</label>
              <input type="text" class="" name="system.biodata.eyes" value="{{data.biodata.eyes}}" data-dtype="String" />
            </li>
            <li class="item flexrow">
              <label class="generic-label">Hair</label>
              <input type="text" class="" name="system.biodata.hair" value="{{data.biodata.hair}}" data-dtype="String" />
            </li>
            <li class="flexrow item">
              <label class="generic-label">Preferred Hand</label>
              <input type="text" class="" name="system.biodata.preferredhand" value="{{data.biodata.preferredhand}}"
                data-dtype="String" />
            </li>
          </ul>
        </div>
       <div>
          <ul>
            <li class="flexrow item">
              <label class="generic-label">Size</label>
              <select class="competence-base flexrow" type="text" name="system.biodata.size" value="{{data.biodata.size}}" data-dtype="Number">
                {{#select data.biodata.size}}
                <option value="1">Tiny</option>
                <option value="2">Small</option>
                <option value="3">Medium</option>
                <option value="4">Large</option>
                <option value="5">Huge</option>
                <option value="6">Gargantuan</option>
                {{/select}}
              </select> 
            </li>
            <li class="flexrow item">
              <label class="generic-label">Sex</label>
              <input type="text" class="" name="system.biodata.sex" value="{{data.biodata.sex}}" data-dtype="String" />
            </li>
          </ul>
        </div>
      </div>


      <hr>
      <h3>Background : </h3>
      <div class="form-group editor">
        {{editor description target="system.biodata.description" button=true owner=owner
        editable=editable}}
      </div>
      <hr>
      <h3>Notes : </h3>
      <div class="form-group editor">
        {{editor notes target="system.biodata.notes" button=true owner=owner editable=editable}}
      </div>
      <hr>
      </article>
    </div>

  </section>
</form>