<form class="{{cssClass}}" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <div class="header-fields">
      <h1 class="charname margin-right"><input name="name" type="text" value="{{name}}" placeholder="Name" /></h1>
      <div class="flexrow">
        <img class="profile-img" src="{{img}}" data-edit="img" title="{{name}}" />
        <div class="flexcol">
        </div>
      </div>

    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="equipment">{{localize "WH.ui.equipment"}}</a>
    <a class="item" data-tab="biodata">{{localize "WH.ui.biography"}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">


    {{!-- Equipement Tab --}}
    <div class="tab equipment" data-group="primary" data-tab="equipment">

      {{#each partySlots as |slot slotKey|}}
      <ul class="item-list alternate-list">
        <li class="item flexrow list-item items-title-bg {{#if (gt slot.slotUsed slot.nbslots)}}items-title-bg-red{{/if}}">
          <span class="item-name-label-header">
            <h3><label class="items-title-text">{{localize slot.label}}</label></h3>
          </span>          
          <span class="item-field-label-medium">
            <label class="short-label">{{localize "WH.ui.Type"}}</label>
          </span>
          <span class="item-field-label-long">
            <label class="short-label">{{localize "WH.ui.Qty"}}</label>
          </span>
          <span class="item-field-label-medium">
            <label class="short-label">{{localize "WH.ui.maxslots"}}: {{slot.nbslots}}</label>
          </span>
          <span class="item-field-label-medium">
            <label class="short-label">{{localize "WH.ui.slotsused"}}: {{slot.slotUsed}}</label>
          </span>
          <div class="item-filler">&nbsp;</div>
          <div class="item-controls item-controls-fixed">
            <a class="item-control item-add" data-type="{{itemtype}}" title="Create Item"><i class="fas fa-plus"></i></a>
          </div>
        </li>
        {{#each slot.content as |item itemKey|}}
        <li class="item flexrow list-item list-item-shadow" data-item-id="{{item._id}}">
          <a class="item-edit item-name-img" title="Edit Item"><img class="sheet-competence-img"
              src="{{item.img}}" /></a>
          <span class="item-name-label">{{item.name}}</span>

          <span class="item-field-label-medium">
            <label class="short-label">{{upperFirst item.type}}</label>
          </span>

          <span class="item-field-label-long"><label>
              {{item.system.quantity}}
              (<a class="quantity-minus plus-minus-button"> -</a>/<a class="quantity-plus plus-minus-button">+</a>)
            </label>
          </span>

          <div class="item-filler">&nbsp;</div>
          <div class="item-controls item-controls-fixed">
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
          </div>
        </li>
        {{/each}}
      </ul>
      {{/each}}


      <hr>

    </div>

    {{!-- Biography Tab --}}
    <div class="tab biodata" data-group="primary" data-tab="biodata">
      <hr>
      <h3>{{localize "WH.ui.background"}} : </h3>
      <div class="form-group editor">
        {{editor description target="system.biodata.description" button=true owner=owner
        editable=editable}}
      </div>
      <hr>
      <h3>{{localize "WH.ui.notes"}} : </h3>
      <div class="form-group editor">
        {{editor notes target="system.biodata.notes" button=true owner=owner editable=editable}}
      </div>
      <hr>
      </article>
    </div>

  </section>
</form>