<form class="skill-roll-dialog">
  <header class="roll-dialog-header">
    {{#if img}}
    <img class="actor-icon" src="{{img}}" data-edit="img" title="{{name}}" />
    {{/if}}
    <h1 class="dialog-roll-title roll-dialog-header">{{title}}</h1>
  </header>

    <div class="flexcol">
      
      {{#if stat}}
      <div class="flexrow">
        <span class="item-field-label-medium">{{localize stat.label}}</span>
        <span class="item-field-label-medium">{{stat.value}}</span>
      </div>
      {{/if}}

      {{#if weapon}}
      <div class="flexrow">
        <span class="roll-dialog-label">Weapon : </span>
        <span class="roll-dialog-label">{{weapon.name}}</span>
      </div>
      {{/if}}

      {{#if shield}}
      <div class="flexrow">
        <span class="roll-dialog-label">Use shield ? : </span>
        <span class="roll-dialog-label"><input type="checkbox" id="useshield" name="useshield" {{checked useshield}}/></span>
      </div>
      <div class="flexrow">
        <span class="roll-dialog-label">{{shield.name}} : </span>
        <span class="roll-dialog-label">{{shield.data.shielddie}}</span>
      </div>
      {{/if}}

      <div class="flexrow">
        <span class="item-field-label-medium">Bonus/Malus : </span>
        <select class="item-field-label-medium" type="text" id="bonusMalus" value="{{bonusMalus}}">
          {{#select bonusMalus}}
            <option value="-6">-6</option>
            <option value="-5">-5</option>
            <option value="-4">-4</option>
            <option value="-3">-3</option>
            <option value="-2">-2</option>
            <option value="-1">-1</option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
          {{/select}}
        </select>
      </div>
  </div>

</form>